Header {
    background-color: #f46600f8;
}

Main {
    background-color: chartreuse;
}

h1 {
    text-align: center;
}

p { 
    color: chartreuse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    border: solid;
    border-width: 6px;

}

ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

Footer {
    background-color: blueviolet;
}
/* Add a background color to the header element */

/* Add a fun background color to the main element */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

/* Add a background color to the footer element */